body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #222222; /* Fond sombre */
    color: #169976; /* Texte principal */
}

h1 {
    text-align: center;
    color: #1DCD9F; /* Couleur verte claire */
    margin: 10px 0;
    font-size: 24px;
}

.container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.box {
    flex: 1;
    border: 1px solid #1DCD9F; /* Bordure verte claire */
    padding: 10px;
    background-color: #169976; /* Fond vert foncé */
    border-radius: 10px;
    overflow-y: auto;
    max-height: 80vh;
}

h1, h2, h3 {
    color: #1DCD9F; /* Couleur verte claire */
}

input, select {
    border: 1px solid #a0b0c0;
    border-radius: 4px;
    padding: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

  
  li img {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .filters {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin: 10px 0 20px; /* ← Réduit la marge du haut */
  }
  
  .filter-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .filter-section label {
    font-size: 14px;
  }

  .filter-section input {
    width: 100%;
    padding: 10px;  /* Ajoute un peu de padding pour que le texte ne touche pas les bords */
    box-sizing: border-box;  /* Pour inclure le padding et la bordure dans la largeur totale */
  }
  
  .sale img {
    max-width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
  }

  input[type="range"] {
    width: 100%;
  }


  